node_modules/
.expo/
dist/
package-lock.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.env
*.log
google-services.json
GoogleService-Info.plist

# IDE specific files
.idea/
.vscode/
*.swp
*.swo